<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/pageheader :: head">

</head>

<body class="bg">
	
	<div class="navibar1">
		<b>Phone Directory</b>
	</div><div class="navibar2">
		<b>Add Contact / Edit Contact</b>
	</div>
	<form action="" th:action="@{/submitContact}" th:object=${contact} method="post" modelAttribute="contact">

	<div class="d-none"><input th:field = "*{id}"></div>

	<div class="container">
		<div class="col">
			<div class="row">
				<div class="col-md-6">
					<label for="firstName"><b>First Name</b> :</label>
					<input type="text" class="form-control" id="firstName" placeholder="ex. Ion" th:field="*{firstName}">
				
					<label for="lastName"><b>Last Name</b> :</label>
					<input type="text" class="form-control" id="lastName" placeholder="ex. Popescu" th:field="*{lastName}">
				</div>
				<div class="col-md-6">
					
					<button type="button" class="btn btn-light">Add picture</button>
					<img src="../../webapp/static/custom/img/addPicture3.PNG" id="contactimg" alt="contact picture">
				</div>
			</div>
			<div>
				<div>
					<label for="number"><b>Number</b> :</label>
					<input type="text" class="form-control" id="number" placeholder="ex. 0765432109" th:field="*{phoneNumber}">
				</div>
			
			</div>
			<div>
				<label for="adress"><b>Adress</b> :</label>
				<input type="text" class="form-control" id="adress" placeholder="ex. Bv. Brasov" th:field="*{adress}">
			</div>
			<div>
				<label for="email"><b>E-mail</b> :</label>
				<input type="text" class="form-control" id="email" placeholder="ex. email@email.email" th:field="*{email}">
			</div>
			
			
		</div>
		<div>
			<button class="button" type="submit"><span>Save contact  </span></button>
		</div>
	</div>
	</form>
</body>

<div th:replace="fragment/pagefooter :: pagefooter"></div>

</html>