<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/pageheader :: head">

<body>
<h1>Hello</h1>
</body>

<div th:replace="fragment/pagefooter :: pagefooter"></div>

<p th:text="${mytext}"></p>

<div>
	<table class="table table-striped table-sm">
		<tbody>
			<tr th:each="fruct : ${listaFructe}">
				<td th:text="${fruct}"/>
			</tr>
		</tbody>
	</table>
</div>

<div>
	<table class="table table-striped table-sm">
		<tbody>
			<tr th:each="employee : ${employeeList}">
				<td th:text="${employee.id}"/>
				<td th:text="${employee.lastName}"/>
				<td th:text="${employee.firstName}"/>
				<td th:text="${employee.monthlySalary}"/>
			</tr>
		</tbody>
	</table>
</div>

</html>