<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/pageheader :: head">

<body class = "bg">
<div class="navibar1">
		<b>Phone Directory</b>
	</div><div class="navibar2">
		<b>Phone Directory Overview</b>
	</div>
<div class = "container">
<table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th>Id</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Phone Number</th>
            <th>Adress</th>
            <th>E-mail</th>
            <th>Action</th>
          </tr>
        </thead>
	<tbody>
		<tr th:each="number : ${numberList}">
			<td th:text="${number.id}"/>
			<td th:text="${number.lastName}"/>
			<td th:text="${number.firstName}"/>
			<td th:text="${number.phoneNumber}"/>
			<td th:text="${number.adress}"/>
			<td th:text="${number.email}"/>
			<td>
              <button type="button" class="btn btn-primary">Edit</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
		</tr>
	</tbody>
</table>
</div>
</body>

<div th:replace="fragment/pagefooter :: pagefooter"></div>
</html>
